<section class="container-fluid landing-section">
  <h1>Inspiring Families to Dream Again</h1>
  <span>
    Transform your financial future with personalized tools and expert mentorship.
  </span>
  <button mat-button>
    Ve nuestros servicios
  </button>
</section>

<section class="container-fluid landing-section">
  <h6>Our philosophy</h6>
  <h2>We believe every dream can change the world.</h2>

  <span>
    At GFC, we don’t just focus on growing your wealth, but on turning it into a force for good. We help you
    transform your financial success into real impact, supporting you in achieving your most important dreams. Whether
    you’re advancing a global cause, improving the lives of your family and community, or building a business that can
    be passed down through generations, we work together to secure and direct your wealth. This way, we ensure you leave
    a meaningful legacy that truly makes a difference.
  </span>
</section>

<section class="container-fluid landing-section">
  <h6>Our mission, your independence</h6>
  <h2>Empowering You to Take Control of Your Finances and Live Independently.</h2>

  <span>Discover personalized solutions to build wealth, start a business, or make a meaningful impact through
    charitable giving.</span>

  <div class="d-flex">
    @for (item of ServicesItems; track item.title) {
      <span>{{item.title}}</span>
    } @empty {
    <li>There are no items.</li>
    }
  </div>
</section>

<section class="container-fluid cta-section">
  <h6>Help millions</h6>
  <h3>This is the greatest opportunity to help millions protect, build, and secure their wealth.</h3>
</section>

<section class="container-fluid landing-section">
  WHYUS
</section>

<section class="container-fluid landing-section">
  WHYUS2
</section>

<section class="container-fluid landing-section">
  CTA
</section>

<section class="container-fluid landing-section">
  CEO MSSGE
</section>

<app-footer></app-footer>
