<!-- Hero Section -->
<section class="hero d-flex align-items-center justify-content-start">
  <div class="hero-overlay"></div>
  <div class="hero-content mx-5">
    <div class="row">
      <h1 class="col-12 col-md-7 text-white ">Inspiring Families To Dream Again</h1>
    </div>

    <div class="row mt-3">
      <h5 class="col-12 col-md-7 text-white ">
        Transform your financial future with personalized tools and expert mentorship.
      </h5>
    </div>

    <div class="row mt-5">
      <button mat-raised-button color="accent" class="col-auto">
        Start your Journey Now
      </button>
    </div>
  </div>
</section>

<!-- Our philosophy -->
<section class="container philosophy-section">
  <div class="row bg-accent-100 p-5 rounded">
    <div class="col-12 col-xl-5 border-right">
      <h6 class="text-secondary-600">Our philosophy</h6>
      <h2>We believe every dream can change the world.</h2>
    </div>

    <div class="col-12 col-xl-7 align-content-center">
      <p class="text-body pt-4 px-3">
        At GFC, <b class="text-primary-500">we focus on growing your wealth and turning it into a force for good.</b> We
        support you in achieving
        your
        dreams, whether it's advancing global causes, supporting your family and community, or building a lasting
        business.
        Our goal is to help you leave a meaningful legacy that makes a real difference.
      </p>
    </div>
  </div>
</section>

<!-- Start your journey -->
<section class="container align-content-center py-5 my-4">
  <div class="d-flex flex-column text-center gap-2 py-2">
    <h2>Start your journey</h2>
    <h6>We empower financial independence with solutions and mentorship.</h6>
  </div>

  <div class="row py-5">
    <div class="col-12 col-md-4 py-3">
      <mat-card class="h-100" appearance="outlined" class="transparent">
        <img mat-card-image src="assets/images/family1.webp" alt="Placeholder Image" class="img-fluid" />
        <mat-card-content class="my-4">
          <h5>
            Build and secure your wealth.
          </h5>
          <button mat-button>Become a Client</button>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-md-4 py-3">
      <mat-card class="h-100" appearance="outlined" class="transparent">
        <img mat-card-image src="assets/images/office1.webp" alt="Placeholder Image" class="img-fluid" />
        <mat-card-content class="my-4">
          <h5>
            Start a business
          </h5>
          <button mat-button>Become a Partner</button>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-md-4 py-3">
      <mat-card class="h-100" appearance="outlined" class="transparent">
        <img mat-card-image src="assets/images/hands1.webp" alt="Placeholder Image" class="img-fluid" />
        <mat-card-content class="my-4">
          <h5>
            Donate and contribute
          </h5>
          <button mat-button>Make an impact</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

<!-- CTA -->
<div class="py-5 bg-primary-900">
  <section class="container align-content-center">
    <div class="d-flex flex-column text-center align-items-center">
      <h6 class="text-secondary-600">Help millions</h6>
      <h2 class="text-white">This is the greatest opportunity to help millions protect, build, and secure their wealth.
      </h2>
      <button mat-raised-button type="button" color="accent" class="mt-4">Make a donation</button>
    </div>
  </section>
</div>

<!-- Start Shaping Your Financial Future  -->
<div class="py-5 bg-accent-200">
  <section class="container align-content-center">
    <div class="row">
      <div class="col-4 d-none d-md-block">
        <img src="assets/images/family2.webp" alt="Placeholder Image" class="img-fluid w-100" />
      </div>
      <div class="col-12 col-md-8">
        <div class="py-4">
          <h2>$68 Trillion</h2>
          <h5>Generational Wealth is In Motion</h5>
        </div>
        <p class="text-body">
          The colossal exchange of $68 trillion in generational wealth represents a tremendous opportunity to reshape individuals’ financial futures.
        </p>
      </div>
    </div>
  </section>
</div>

<!-- Protect What Matters Most  -->
<div class="py-5 bg-accent-200">
  <section class="container align-content-center">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="py-4">
          <h2>4.5 Billion</h2>
          <h5>People are Financially Illiterate</h5>
        </div>
        <p class="text-body">
          The alarming fact that 4.5 billion people suffer from financial illiteracy highlights the urgent need for financial guidance and support.
        </p>
      </div>
      <div class="col-4 d-none d-md-block">
        <img src="assets/images/office2.webp" alt="Placeholder Image" class="img-fluid w-100" />
      </div>
    </div>
  </section>
</div>

<!-- Begin your journey -->
<section class="container align-content-center py-5 my-4">
  <div class="d-flex flex-column gap-2 py-2">
    <h2>Begin your journey with GFC</h2>
    <h6>Begin your success with our expert services and guidance.</h6>
  </div>
  <div class="row py-5">
    <div class="col-12 col-xl-8">
      <div class="row">
        <div class="col-12 col-sm-6 my-4">
          <h4 class="mb-2">Financial Education</h4>
          <p class="text-body">Access valuable financial education resources to enhance your knowledge and
            decision-making.</p>
        </div>
        <div class="col-12 col-sm-6 my-4">
          <h4 class="mb-2">Expert Guidance</h4>
          <p class="text-body">Access valuable financial education resources to enhance your knowledge and
            decision-making.</p>
        </div>
        <div class="col-12 col-sm-6 my-4">
          <h4 class="mb-2">Diverse Financial Products and Solutions</h4>
          <p class="text-body">Access valuable financial education resources to enhance your knowledge and
            decision-making.</p>
        </div>
        <div class="col-12 col-sm-6 my-4">
          <h4 class="mb-2">Customized Strategies</h4>
          <p class="text-body">Access valuable financial education resources to enhance your knowledge and
            decision-making.</p>
        </div>
      </div>
    </div>

    <div class="d-none d-xl-block col-xl-4">
      <img src="assets/images/family3.webp" alt="Placeholder Image" class="img-fluid w-100" />
    </div>
  </div>
</section>

<!-- Your wealth, our mission -->
<div class="bg-accent-100 py-5">
  <section class="container align-content-center">
    <div class="d-flex flex-column text-center gap-2 py-2">
      <h2>Your Wealth, Our Mission</h2>
      <h6>Driven by numbers, powered by impact. Join thousands who trust us to protect, build, and
        secure their financial future.</h6>
    </div>

    <div class="row py-5">
      <div class="d-flex flex-column text-center col-12 col-md-6 col-xl-3 gap-3">
        <div>
          <p class="text-highlight">+10</p>
          <div class="text-secondary-600 fw-bolder">Years of experience</div>
        </div>
        <p class="text-body">Helping individuals and families achieve financial independence.</p>
      </div>

      <div class="d-flex flex-column text-center col-12 col-md-6 col-xl-3 gap-3">
        <div>
          <p class="text-highlight">1,000</p>
          <div class="text-secondary-600 fw-bolder">Success Stories</div>
        </div>
        <p class="text-body">Real lives impacted through our proven strategies.</p>
      </div>

      <div class="d-flex flex-column text-center col-12 col-md-6 col-xl-3 gap-3">
        <div>
          <p class="text-highlight">+10M</p>
          <div class="text-secondary-600 fw-bolder">Wealth Managed</div>
        </div>
        <p class="text-body">Securing and growing financial assets worldwide.</p>
      </div>

      <div class="d-flex flex-column text-center col-12 col-md-6 col-xl-3 gap-3">
        <div>
          <p class="text-highlight">33+</p>
          <div class="text-secondary-600 fw-bolder">Countries</div>
        </div>
        <p class="text-body">Delivering global financial solutions with a local touch.</p>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>

Help millions section for button:
Star Now 
Get More Info

Services
Tailored made plan for you.


Step by step pau dont like the icons
Diagram (more visual content).

FAQ's same as GFI

