<!-- Hero Section -->
<section class="hero d-flex align-items-center justify-content-start">
  <div class="hero-overlay"></div>
  <div class="hero-content mx-5 w-100">
    <div class="row w-100">
      <h1 class="col-12 col-md-7 text-white ">Inspiring Families To Dream Again</h1>
    </div>

    <div class="row mt-3">
      <h5 class="col-12 col-md-7 text-white ">
        Transform your financial future with personalized tools and expert mentorship.
      </h5>
    </div>

    <div class="row mt-5">
      <button mat-raised-button color="accent" class="col-auto" (click)="navigateToLink('get-started')">
        Start your Journey
      </button>
    </div>
  </div>
</section>

<!-- Our philosophy -->
<section class="container philosophy-section">
  <div class="row bg-accent-100 p-5 rounded">
    <div class="col-12 col-xl-5 border-right">
      <h6 class="text-secondary-600">Our philosophy</h6>
      <h2>We believe every dream can change the world.</h2>
    </div>

    <div class="col-12 col-xl-7 align-content-center">
      <p class="text-body pt-4 px-3">
        At GFC, <b class="text-primary-500">we focus on growing your wealth and turning it into a force for good.</b> We
        support you in achieving
        your
        dreams, whether it's advancing global causes, supporting your family and community, or building a lasting
        business.
        Our goal is to help you leave a meaningful legacy that makes a real difference.
      </p>
    </div>
  </div>
</section>

<!-- Start your journey -->
<section class="container align-content-center py-5 my-4">
  <div class="d-flex flex-column text-center gap-2 py-2">
    <h2>Start Your Journey</h2>
    <h6>We empower financial independence with solutions and mentorship.</h6>
  </div>

  <div class="row py-5">
    @for (item of ServicesItems; track item.title) {
    <div class="col-12 col-md-4 py-3">
      <mat-card class="h-100" appearance="outlined" class="transparent hoverable-card"
        (click)="navigateToLink(item.link!)">
        <img [ngSrc]="item.image!" alt="Family spending time together" [title]="item.title" class="img-fluid p-2"
          width="1024" height="684" priority />
        <mat-card-content class="my-4">
          <h5>
            {{item.title}}
          </h5>
          <p class="text-link">{{item.description}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    } @empty {
    <mat-list-item>There are no items.</mat-list-item>
    }
  </div>
</section>

<!-- CTA -->
<div class="py-5 bg-primary-900">
  <section class="container align-content-center">
    <div class="d-flex flex-column text-center align-items-center">
      <h6 class="text-secondary-600">Help millions</h6>
      <h2 class="text-white">This is the greatest opportunity to help millions protect, build, and secure their wealth.
      </h2>
      <button mat-raised-button type="button" color="accent" class="mt-4" (click)="navigateToLink('get-started')">Start
        Now</button>
    </div>
  </section>
</div>

<section class="container align-content-center my-5">
  <!-- Start Shaping Your Financial Future  -->
  <div class="row align-items-center h-100">
    <div class="col-6 d-none d-md-block">
      <img ngSrc="assets/images/family2.webp" alt="Placeholder Image" class="img-fluid" width="1024" height="684" />
    </div>
    <div class="col-12 col-md-6" id="stat-card">
      <div class="d-flex flex-column gap-2 py-2">
        <h2>$68 Trillion</h2>
        <h6 class="mt-2">Generational Wealth is In Motion</h6>
      </div>
      <p class="text-body mt-2">
        The colossal exchange of $68 trillion in generational wealth represents a tremendous opportunity to reshape
        individuals’ financial futures.
      </p>
    </div>
  </div>
</section>

<section class="container align-content-center my-5">
  <!-- Protect What Matters Most  -->
  <div class="row align-items-center h-100 mt-5">
    <div class="col-12 col-md-6" id="stat-card">
      <div class="d-flex flex-column gap-2 py-2">
        <h2>4.5 Billion</h2>
        <h6 class="mt-2">People are Financially Illiterate</h6>
      </div>
      <p class="text-body mt-2">
        The alarming fact that 4.5 billion people suffer from financial illiteracy highlights the urgent need for
        financial guidance and support.
      </p>
    </div>
    <div class="col-6 d-none d-md-block">
      <img ngSrc="assets/images/office2.webp" alt="Placeholder Image" class="img-fluid" width="1024" height="684" />
    </div>
  </div>
</section>
<!-- Begin your journey -->
<section class="container align-content-center py-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="d-flex flex-column gap-2 py-2">
        <h2 class="text-center text-md-start">Begin Your Journey With GFC</h2>
        <h6 class="text-center text-md-start">Begin your success with our expert services and guidance.</h6>
      </div>
      <div class="row py-5">
        @for (item of JourneyStartPoints; track item.title) {
        <div class="col-12 col-sm-6 py-1 py-md-2 d-flex">
          <div class="border border-accent-500 rounded-2 p-3 shadow-hover w-100">
            <div class="d-flex">
              <lucide-icon [name]="item.image" class="me-2"></lucide-icon>
              <div>
                <p class="fs-6 lh-sm fw-medium m-0"><b>{{item.title}}</b></p>
                <p class="mt-2" style="color: #a6a6a7">{{item.description}}</p>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    <div class="d-none d-lg-block col-lg-4 d-flex">
      <img ngSrc="assets/images/family3.webp" alt="Placeholder Image" class="img-fluid h-100 object-fit-cover"
        width="1024" height="684" />
    </div>
  </div>
</section>

<!-- Your wealth, our mission -->
<div class="bg-accent-100 py-5">
  <section class="container align-content-center">
    <div class="d-flex flex-column text-center gap-2 py-2">
      <h2>Your Wealth, Our Mission</h2>
      <h6>Driven by numbers, powered by impact. Join thousands who trust us to protect, build, and
        secure their financial future.</h6>
    </div>

    <div class="row py-5">
      <div class="d-flex flex-column text-center col-12 col-md-6 col-xl-3 gap-3">
        <div>
          <p class="text-highlight">+10</p>
          <div class="text-secondary-600 fw-bolder">Years of experience</div>
        </div>
        <p class="text-body">Helping individuals and families achieve financial independence.</p>
      </div>

      <div class="d-flex flex-column text-center col-12 col-md-6 col-xl-3 gap-3">
        <div>
          <p class="text-highlight">1,000</p>
          <div class="text-secondary-600 fw-bolder">Success Stories</div>
        </div>
        <p class="text-body">Real lives impacted through our proven strategies.</p>
      </div>

      <div class="d-flex flex-column text-center col-12 col-md-6 col-xl-3 gap-3">
        <div>
          <p class="text-highlight">+10M</p>
          <div class="text-secondary-600 fw-bolder">Wealth Managed</div>
        </div>
        <p class="text-body">Securing and growing financial assets worldwide.</p>
      </div>

      <div class="d-flex flex-column text-center col-12 col-md-6 col-xl-3 gap-3">
        <div>
          <p class="text-highlight">33+</p>
          <div class="text-secondary-600 fw-bolder">Countries</div>
        </div>
        <p class="text-body">Delivering global financial solutions with a local touch.</p>
      </div>
    </div>
  </section>


  <!-- Joe's Quote -->
  <section class="container pt-3 pb-5 d-flex justify-content-center align-items-center">
    <div class="row col-lg-10 col-12 shadow-lg rounded-2 p-3 fst-italic">
      <div class="col-lg-4 col-12 d-flex justify-content-center  align-items-center">
        <img ngSrc="assets/images/GFC-CEO.webp" alt="Placeholder Image" class="img-fluid mb-2 mb-lg-0 d-none d-lg-block" width="400" height="384"
          style="border-radius: 50%;" />
          <img ngSrc="assets/images/GFC-CEO.webp" alt="Placeholder Image" class="img-fluid w-50 mb-2 mb-lg-0 d-lg-none d-block" width="400" height="384"
          style="border-radius: 50%;" />
      </div>
      <div class="col-12 col-lg-8 my-auto">
        <p class="text-body">"I’m driven by a clear mission: to build and protect wealth for families. Through
          personalized financial
          solutions, I provide individuals with the peace of mind they need to secure their future, empowering them to
          reach their goals and fulfill their dreams.</p>
        <p class="text-body">
          As a wealth strategist, I work with a diverse group of clients, professional athletes, business owners, Baby
          Boomers, and families from all backgrounds. My focus is on maximizing wealth strategies that help each
          client
          build a strong financial foundation and future."</p>

          <p class="fw-bold text-end">Joe Morales</p>
          <p class="fw-light text-end" style="margin-top: -0.5rem;">CEO & Founder</p>
      </div>
    </div>
  </section>

</div>