/* #region TITLE STYLES */
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0 !important;
    margin: 0 !important;
}

h6 {
    font-family: "Montserrat" !important;
    color: var(--surface-high-emphasis);
    font-weight: 600;
    font-size: 1.25rem;
    line-height: var(--lh-xxlg);
    letter-spacing: 0.009rem;
}

h5 {
    font-family: "Montserrat" !important;
    color: var(--surface-high-emphasis);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: var(--lh-xxlg);
    letter-spacing: 0.009rem;
}

h4 {
    font-family: "Montserrat" !important;
    color: var(--surface-high-emphasis);
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 2.25rem;
}

h3 {
    font-family: "Montserrat" !important;
    color: var(--surface-high-emphasis);
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.5rem;
}

h2 {
    font-family: "Montserrat" !important;
    color: var(--surface-high-emphasis);
    font-weight: 400;
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.031rem;
}

h1 {
    font-family: "Montserrat" !important;
    color: var(--surface-high-emphasis);
    font-weight: 400;
    font-size: 6rem;
    line-height: 112px;
    letter-spacing: -0.094rem;
}
/* #endregion */

/* #region TEXT STYLES */
.text-disabled {
    color: var(--surface-disabled);
    font-family: "Montserrat";
    font-weight: 400;
    font-size: var(--fs-xsm);
    line-height: var(--lh-sm);
    letter-spacing: 0.009rem;
}

.text-overline {
    color: var(--surface-high-emphasis);
    font-family: "Montserrat";
    font-weight: 600;
    font-size: var(--fs-xxsm);
    line-height: var(--lh-xxsm);
    letter-spacing: 0.094rem;
    text-transform: uppercase;
}

.text-caption {
    color: var(--surface-high-emphasis);
    font-family: "Montserrat";
    font-weight: 400;
    font-size: var(--fs-xsm);
    line-height: var(--lh-sm);
    letter-spacing: 0.009rem;
}

.text-button {
    color: var(--surface-high-emphasis);
    font-family: "Montserrat";
    font-weight: 600;
    font-size: var(--fs-sm);
    line-height: var(--lh-sm);
    letter-spacing: 0.078rem;
    text-transform: uppercase;
}

.text-body-1 {
    color: var(--surface-high-emphasis) !important;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: var(--fs-md);
    line-height: var(--lh-xxlg);
    letter-spacing: 0.5px;
}

.text-body-2 {
    color: var(--surface-high-emphasis);
    font-family: "Montserrat";
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: var(--lh-lg);
    letter-spacing: 0.016rem;
}

.text-body-2.disabled {
    color: var(--surface-disabled);
    font-family: "Montserrat";
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: var(--lh-lg);
    letter-spacing: 0.016rem;
}

.text-link {
    color: var(--primary-600);
    font-family: "Montserrat";
    font-weight: 400;
    font-size: var(--fs-md);
    line-height: var(--lh-xxlg);
    letter-spacing: 0.016rem;
    cursor: pointer;
    text-decoration: underline;
}

.text-link:hover,
.text-link:focus {
    color: var(--primary-800);
}

.text-menu {
    color: var(--surface-medium-emphasis);
    font-family: "Montserrat";
    font-weight: 400;
    font-size: var(--fs-sm);
    line-height: var(--lh-lg);
    letter-spacing: 0.016rem;
}

.of-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* #endregion */