.logo {
    left: 0px;
    top: 0px;
    width: 190px;
    user-select: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    max-width: none;
    opacity: 1;
}

.logo-sm {
    left: 0px;
    top: 0px;
    width: 240px;
    user-select: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    margin-top: 0.3rem;
    max-width: none;
    opacity: 1;
}

.sticker {
    min-height: 140px;
}

.carousel{
    background-image: url(https://i.imgur.com/kY2od3z.jpg);
        background-size: cover;
        background-position: top;
}