<form autocomplete="off" [formGroup]="_form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12 col-md-6">
      <mat-slider min="0" max="250000" step="10000" showTickMarks discrete [displayWith]="formatLabel" class="w-100">
        <input matSliderThumb formControlName="income" >
      </mat-slider>
    </div>

    <div class="col-12">
      <p>Part time</p>
      <p>Full time</p>
      <p>Referred</p>
    </div>
    
    <div class="col-12">
        <mat-slide-toggle formControlName="is_clean">This is a highly regulated industry, do you have a clean background?</mat-slide-toggle>
    </div>

    <div class="col-12">
      <mat-checkbox formControlName="has_license">Are you a licensed agent?</mat-checkbox>
    </div>
  </div>
</form>