.mat-mdc-nav-list .mat-mdc-list-item:hover {
    border-bottom: 1px solid var(--primary-500);
}

.mat-mdc-nav-list .mat-mdc-list-item.active {
    border-bottom: 1px solid var(--primary-500);
}

.mat-mdc-list-item, .mat-mdc-list-option {
    width: inherit !important;
}