.mat-mdc-card-outlined.transparent {
    --mdc-outlined-card-container-color: transparent !important;
}

.mat-mdc-card-header {
    padding: 2rem 2rem .5rem !important;
}

.mat-mdc-card-content {
    padding: 0 2rem !important;
}

.mat-mdc-card-outlined  .mat-mdc-card-content{
    padding: 0rem !important;
}

.mat-mdc-card-actions {
    padding: 2rem 1.5rem 2rem 1.5rem !important;
}