<!-- Hero Section -->
<section class="sub-hero d-flex align-items-center justify-content-start">
    <div class="sub-hero-overlay"></div>
    <div class="sub-hero-content mx-5 w-100">
        <div class="row w-100">
            <h2 class="col-12 col-md-7 text-white">Inspirational Marketing</h2>
        </div>

        <div class="row mt-3">
            <h5 class="col-12 col-md-7 text-white ">
                Build a business that you can pass onto your loved ones to create generational wealth, with the most
                competitive personal compensation, builder’s compensation, and Agency Owner platform in the industry.
            </h5>
        </div>

        <div class="row mt-5">
            <button mat-raised-button color="accent" class="col-auto">
                Grow with Us
            </button>
        </div>
    </div>
</section>

<!-- Become a GFI Partner -->
<section class="container align-content-center py-5 my-4">
    <div class="row">
        <div class="col-12 col-md-7">
            <div class="py-4">
                <h2>Become a GFI Partner</h2>
            </div>
            <p class="text-body">
                We’re transforming the financial landscape, one entrepreneur at a time. We’re not just building a business;
                we’re building a movement of financial professionals who are passionate about making a difference. Our goal
                is to equip individuals with the skills, knowledge, and resources they need to succeed in the world of
                finance.
            </p>
            <p class="text-body">
                We believe that everyone, regardless of their background or experience, deserves the opportunity to live a
                rich and fulfilling life. By joining our agency, you become part of a dynamic community dedicated to helping
                families secure their financial future, achieve their dreams, and create a lasting legacy. Together, we’re
                turning dreams into reality, one success story at a time.
            </p>
            <button mat-raised-button>Start your Application</button>
        </div>
        <div class="col-5 d-none d-md-block">
            <img src="assets/images/family4.webp" alt="Placeholder Image" class="img-fluid" loading="lazy" />
        </div>
    </div>
</section>

<!-- Inspirational Marketing -->
<section class="container py-5 my-4">
    <div class="d-flex flex-column text-center gap-2 py-2">
        <h6 class="text-secondary-600 text-center">THE GFI DIFFERENCE</h6>
        <h2 class="text-center">Inspirational Marketing</h2>
    </div>

    <div class="row py-5">
        <div class="col-6">
            <div>
                <h5>{{ MarketingStrategies[0].title }}</h5>
                <p class="mt-2" style="white-space: pre-line;">{{ MarketingStrategies[0].description }}</p>
                <button mat-flat-button>Start Here</button>
            </div>
        </div>
        <div class="col-6">
            <div class="ms-5 position-relative">
                <img src="https://globalfinancialimpact.com/wp-content/uploads/professional-man-2048x1365.webp"
                    alt="Image 1" class="img-fluid" style="width: 60%;" loading="lazy">
                <img src="https://globalfinancialimpact.com/wp-content/uploads/girl-in-green-e1700686911536.webp"
                    alt="Image 2" class="img-fluid position-absolute" style="width: 40%; top: 20%; left: 40%;"
                    loading="lazy">
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-5 position-relative">
        <img src="https://globalfinancialimpact.com/wp-content/uploads/asian-man.webp" alt="Image 1"
            class="img-fluid position-absolute" style="width: 35%; top: -19%; left: 0%;">
        <div class="col-4 mt-5" *ngFor="let item of MarketingStrategies.slice(1, 3)">
            <div class="p-5 bg-accent-100 m-2 h-100">
                <h5>{{ item.title }}</h5>
                <p class="mt-2">{{ item.description }}</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center bg-primary-300 p-5 mt-5">
        <div class="col bg-white p-4 mx-4" *ngFor="let item of MarketingStrategies.slice(3)">
            <h5>{{ item.title }}</h5>
            <p class="mt-2">{{ item.description }}</p>
        </div>
    </div>
</section>

<!-- Multiple income streams -->
<section class="container align-content-center py-5 my-4">
    <div class="d-flex flex-column gap-2 py-2">
        <h6 class="text-secondary-600 text-center">Diversify Your Income</h6>
        <h2 class="text-center">Multiple Income Streams</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        @for (item of IncomeStreamOptions; track item.title) {
        <div class="col">
            <div class="bg-accent-100 p-3 h-100 d-flex flex-column">
                <h5 class="mb-2">{{item.title}}</h5>
                <p class="mt-1">{{item.description}}</p>
            </div>
        </div>
        }
    </div>
</section>

<!-- Welcome to the GFI family -->
<section class="container align-content-center py-5 my-4">
    <div class="d-flex flex-column gap-2 py-2">
        <h6 class="text-secondary-600 text-center">Where Dreams Turn To Impact</h6>
        <h2 class="text-center">Welcome to the GFI Family</h2>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 mt-5">
        @for (item of ImpactOptions; track item.description) {

        <div class="col mb-2 mb-lg-0">
            <div>
                <div class="d-flex w-100">
                    <img mat-card-image src={{item.image}} alt="Placeholder Image" class="img-fluid w-100"
                        loading="lazy" />
                </div>
                <h5 class="mt-2">{{item.description}}</h5>
            </div>
        </div>
        }
    </div>
</section>

<!-- 6 Ways to become a GFI partner -->
<div class="bg-primary-800 text-white p-5">
    <section class="container align-content-center py-5 my-4">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="d-flex flex-column gap-2 py-2">
                    <h2 class="text-white">6 Ways To Partner With GFI</h2>
                    <p>Discover the diverse pathways to partner with GFI based on your aspirations and interests.
                        Whether
                        you
                        envision becoming a client, embarking on a part-time venture, diving into being an agency owner,
                        or
                        anything
                        in between, we offer a range of opportunities for you to align with our mission and make a
                        meaningful
                        impact
                        through Inspirational Marketing. </p>
                    <p>
                        Choose the path that resonates with you and join our community of change-makers.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <mat-accordion class="">
                    @for (item of PartnerTypesOptions; track item.title) {
                    <mat-expansion-panel class="bg-white text-primary-900">
                        <mat-expansion-panel-header>
                            <mat-panel-title> {{item.title}} </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>{{item.subtitle}}</p>
                        <p>{{item.title}}</p>
                        <p>{{item.body}}</p>
                    </mat-expansion-panel>
                    } @empty {
                    <li>There are no items.</li>
                    }
                </mat-accordion>
            </div>
        </div>

    </section>
</div>

<!-- Step by step -->
<section class="container align-content-center py-5 my-4">
    <div class="d-flex flex-column gap-2 py-2">
        <h2 class="text-center">Getting Started Is Easy</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mt-4">
        @for (item of StartingPoints; track item.description) {
        <div class="col">
            <div class="bg-primary-50 p-3 h-75">
                <div class="d-flex justify-content-end">
                    <img src={{item.image}} alt="Placeholder Image" class="img-fluid w-50" loading="lazy" />
                </div>
                <div class="mt-5 ">
                    <h6 class="fw-bold">{{ item.step }}</h6>
                    <h3 style="white-space: pre-line;">{{ item.title }}</h3>
                </div>
            </div>
            <p class="mt-4 fs-5 lh-base fw-light">{{ item.description }}</p>
        </div>
        }
    </div>
</section>

<!-- Make your life a story worth telling -->
<div class="bg-primary-800 text-white">
    <section class="container py-5 my-4" style="height: auto;">
        <div class="row" style="height: 30rem;">
            <div class="col-4 mt-5">
                <div class="d-flex flex-column gap-2 py-2">
                    <h2 class="text-white">Make Your Life A Story Worth Telling</h2>
                    <p>Transform your life into a remarkable story of impact with GFI’s unique business opportunity.
                        Explore how
                        you
                        can create a positive change for your family, community, and country by partnering with us.</p>
                </div>
            </div>
            <div class="col d-flex justify-content-center ms-5 gap-4">
                <div class="expandable-img"
                    style="background-image: url(https://globalfinancialimpact.com/wp-content/uploads/agent4.webp);"
                    loading="lazy">
                </div>
                <div class="expandable-img"
                    style="background-image: url(https://globalfinancialimpact.com/wp-content/uploads/agent4.webp);"
                    loading="lazy">
                </div>
                <div class="expandable-img"
                    style="background-image: url(https://globalfinancialimpact.com/wp-content/uploads/agent4.webp);"
                    loading="lazy">
                </div>
                <div class="expandable-img"
                    style="background-image: url(https://globalfinancialimpact.com/wp-content/uploads/agent4.webp);"
                    loading="lazy">
                </div>
                <div class="expandable-img"
                    style="background-image: url(https://globalfinancialimpact.com/wp-content/uploads/agent4.webp);"
                    loading="lazy">
                </div>
                <div class="expandable-img"
                    style="background-image: url(https://globalfinancialimpact.com/wp-content/uploads/agent4.webp);"
                    loading="lazy">
                </div>
            </div>
        </div>
        <div>
        </div>
    </section>
</div>

<!-- FAQs -->
<div class="py-5 bg-primary-900">
    <section class="container align-content-center py-4">
        <div class="row">
            <div class="col-12 col-md-3 text-center py-2">
                <h2 class="text-white">FAQs</h2>
            </div>

            <div class="col-12 col-md-9">
                <mat-accordion>
                    @for (item of FaqsItems; track item.title) {
                    <mat-expansion-panel class="mat-elevation-z0 border-bottom">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="text-white"> {{item.title}} </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="text-white">{{item.description}}</p>
                    </mat-expansion-panel>
                    } @empty {
                    <li>There are no items.</li>
                    }
                </mat-accordion>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>