<!-- Hero Section
<section class="hero d-flex align-items-center justify-content-start">
    <div class="hero-overlay"></div>
    <div class="hero-content mx-5">
        <div class="row">
            <h1 class="col-12 col-md-7 text-white ">Inspirational Marketing</h1>
        </div>

        <div class="row mt-3">
            <h3 class="col-12 col-md-7 text-white mb-2">Real Business Ownership</h3>

            <h5 class="col-12 col-md-7 text-white ">
                Build a business that you can pass onto your loved ones to create generational wealth, with the most
                competitive personal compensation, builder’s compensation, and Agency Owner platform in the industry.
            </h5>
        </div>

        <div class="row mt-5">
            <button mat-raised-button color="accent" class="col-auto">
                Start your Journey Now
            </button>
        </div>
    </div>
</section>

<section class="container align-content-center py-5 my-4">
    <div class="d-flex flex-column gap-2 py-2">
        <h2>Become a GFI Partner</h2>
        <p>We’re transforming the financial landscape, one entrepreneur at a time. We’re not just building a business;
            we’re building a movement of financial professionals who are passionate about making a difference. Our goal
            is to equip individuals with the skills, knowledge, and resources they need to succeed in the world of
            finance.</p>
        <p>
            We believe that everyone, regardless of their background or experience, deserves the opportunity to live a
            rich and fulfilling life. By joining our agency, you become part of a dynamic community dedicated to helping
            families secure their financial future, achieve their dreams, and create a lasting legacy. Together, we’re
            turning dreams into reality, one success story at a time.
        </p>
    </div>
</section> -->

<section class="container py-5">
    <h2 class="text-center">Marketing Strategies</h2>
    <!-- Primera fila -->
    <div class="row mt-5">
        <div class="col-6">
            <div>
                <h5>{{ MarketingStrategies[0].title }}</h5>
                <p class="mt-2" style="white-space: pre-line;">{{ MarketingStrategies[0].description }}</p>
                <button mat-flat-button>Start Here</button>
            </div>
        </div>
        <div class="col-6">images</div>
    </div>

    <!-- Segunda fila -->
    <div class="row justify-content-end mt-5">
        <div class="col-4" *ngFor="let item of MarketingStrategies.slice(1, 3)">
            <div class="p-5 bg-accent-100 m-2 h-100">
                <h5>{{ item.title }}</h5>
                <p class="mt-2">{{ item.description }}</p>
            </div>
        </div>
    </div>

    <!-- Tercera fila -->
    <div class="row justify-content-center bg-primary-300 p-5 mt-5">
        <div class="col bg-white p-4 mx-4" *ngFor="let item of MarketingStrategies.slice(3)">
            <h5>{{ item.title }}</h5>
            <p class="mt-2">{{ item.description }}</p>
        </div>
    </div>
</section>




<section class="container align-content-center py-5 my-4">
    <div class="d-flex flex-column gap-2 py-2">
        <h6 class="text-secondary-600 text-center">Diversify Your Income</h6>
        <h2 class="text-center">Multiple Income Streams</h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        @for (item of IncomeStreamOptions; track item.title) {
        <div class="col">
            <div class="bg-accent-100 p-3 h-100 d-flex flex-column">
                <h5 class="mb-2">{{item.title}}</h5>
                <p class="mt-1">{{item.description}}</p>
            </div>
        </div>
        }
    </div>
</section>

<section class="container align-content-center py-5 my-4">
    <div class="d-flex flex-column gap-2 py-2">
        <h6 class="text-secondary-600 text-center">Where Dreams Turn To Impact</h6>
        <h2 class="text-center">Welcome to the GFI Family</h2>
    </div>
    <div class="row row-cols-2 row-cols-lg-4 mt-5">
        @for (item of ImpactOptions; track item.description) {

        <div class="col mb-2 mb-lg-0">
            <div>
                <div class="d-flex w-100">
                    <img mat-card-image src={{item.image}} alt="Placeholder Image" class="img-fluid w-100" />
                </div>
                <h5 class="mt-2">{{item.description}}</h5>
            </div>
        </div>
        }
    </div>
</section>

<section class="container align-content-center py-5 my-4">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="d-flex flex-column gap-2 py-2">
                <h2>6 Ways To Partner With GFI</h2>
                <p>Discover the diverse pathways to partner with GFI based on your aspirations and interests. Whether
                    you
                    envision becoming a client, embarking on a part-time venture, diving into being an agency owner, or
                    anything
                    in between, we offer a range of opportunities for you to align with our mission and make a
                    meaningful
                    impact
                    through Inspirational Marketing. </p>
                <p>
                    Choose the path that resonates with you and join our community of change-makers.
                </p>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <mat-accordion>
                @for (item of PartnerTypesOptions; track item.title) {
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title> {{item.title}} </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>{{item.subtitle}}</p>
                    <p>{{item.title}}</p>
                    <p>{{item.body}}</p>
                </mat-expansion-panel>
                } @empty {
                <li>There are no items.</li>
                }
            </mat-accordion>
        </div>
    </div>

</section>

<section class="container align-content-center py-5 my-4">
    <div class="d-flex flex-column gap-2 py-2">
        <h2 class="text-centers">Getting Started Is Easy</h2>
    </div>
    <div class="row row-cols-3 align-items-center">
        <div>
            <h6>STEP 1</h6>
            <h3>Complete The Request Form</h3>
            <p>Begin your journey towards becoming a GFI business partner by submitting your application request.</p>
        </div>
        <div>
            <h6>STEP 2</h6>
            <h3>Explore The Business Model</h3>
            <p>We’ll connect so you can gain a comprehensive understanding of the business model and compensation.</p>
        </div>
        <div>
            <h6>STEP 3</h6>
            <h3>Meet The Team</h3>
            <p>Get to know our dedicated team of professionals who will guide and support you on your path to success.
            </p>
        </div>
    </div>
</section>

<section class="container align-content-center py-5 my-4">
    <div class="d-flex flex-column gap-2 py-2">
        <h2>Make Your Life A Story Worth Telling</h2>
        <p>Transform your life into a remarkable story of impact with GFI’s unique business opportunity. Explore how you
            can create a positive change for your family, community, and country by partnering with us.</p>
    </div>
    <div>
    </div>
</section>